.Header {
    position: relative;
    font-family: 'Russo One', cursive;
    z-index: 20 !important;
    color: white;
    width: 1050px;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    height: 55px;
    background: linear-gradient(to top, #004e9b 0%, #0064ce 30%, #0064ce 70%, #004e9b 100%);
    -webkit-box-shadow: 0px 5px 8px -3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 8px -3px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 8px -3px rgba(50, 50, 50, 0.75);
}

.Header .logo {
    width: 70px;
}

.Header .text {
    width: 980px;
    font-family: 'Russo One', cursive;
    font-size: 29px;
}

.info-container {
    position: absolute;
    bottom: -27px;
    left: 5px;
}

.info-text {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    transition: 0.1s;
}

.info-text:hover {
    cursor: pointer;
    color: white;
}

