.Device {
    position: relative;
}

.stop-balls {
    width: 100%;
    position: absolute;
    bottom: 7px;
}

.stop-balls span {
    font-family: 'Russo One', cursive;
    font-size: 18px;
    color: rgba(220,53,69,0.4);
    transition: color .25s;
}

.stop-balls span:hover {
    cursor: pointer;
    color: rgba(220,53,69,0.76);
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently                          not supported by any browser */
}