.Protocol {
    position: absolute;
    bottom: 0;
}

.rt-th {
    /*font-weight: 500 !important;*/
}

.rt-td {
    text-align: center;
}

.bold {
    /*background-color: #05336E;*/
    font-weight: 500;
}